body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    padding: 32px;
    background-color: bisque;
    color: brown;
    text-align: center;
    grid-area: header;
}
header h1 {
    margin-right: auto;
    margin-left: auto;
}
#Jump-to {
    padding: 12px;
    background-color: blanchedalmond;
    color: brown;
    grid-area: Jump-to;
    text-align: left
} 

nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav a {
    color: brown;
    text-decoration: none;
    font-weight: bold;
}

#main-content {
    padding: 30px;
    grid-area: main;
    background-color: white;
    justify-content: center;
    text-align: center;
}

#main-content img {
    width: 200px;
    height: 300px;
    display: inline-block;
}

footer {
    padding: 32px;
    background-color: bisque;
    color: brown;
    text-align: center;
    font-weight: bold;
    grid-area: footer;
}

#grid-container {
    display: grid;
    grid-template-areas: 
        "header header"
        "Jump-to main"
        "footer footer"
    ;
    grid-template-columns: 1fr 6fr;
}

html {
    scroll-behavior: smooth;
}